/* 这是标签 */
body{
    background-color: #F8FAFC;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul{
    margin: 0;
    padding: 0;
}
/*顶部*/
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 20px;
    width: 100vw;
    height:72px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(7, 17, 27, 0.1);
    overflow: hidden;
    z-index: 99;
 }
 .navbar .icon{
     float: left;
     height: 72px;
     margin-left: 10px;
 }
 .navbar-item{
     float: left;
     list-style: none;
     padding-left: 30px;
     height: 62px;
 }
 .navbar-item li{
    float: left;
 }
 .navbar-item li a{
    display: block;
    padding: 0 10px;
    color: #4D555D;
    text-align: center;
    font-size: 16px;
    height: 72px;
    line-height: 72px;
 }
 .navbar-item li a:hover{
     color: #000;
 }
 .search-wrap{
    position: relative;
    float: left;
    height: 72px;
    width: 300px;
    min-width: 32px;
    margin-left: 20px;
 }
 .search-wrap .search-area{
    position: relative;
    margin: 16px 0;
    padding: 0 10px;
    height: 39px;
    background-color: #E9E9E9;
    border-radius: 8px;
 }
 .search-wrap .search-area .search{
    font-size: 14px;
    color: #A6A6A6;
    background-color: transparent;
    line-height: 24px;
    height: 40px;
    width: 100%;
    float: left;
    border: 0;
    outline: 0;
 }
 .search-wrap .search-area .hot-tags{
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
 }
 .search-wrap .search-area .hot-tags >span{
    display: inline-block;
    padding: 4px 8px;
    height: 16px;
    font-size: 14px;
    color: #545C63;
    line-height: 16px;
 }
 .search-wrap .search-icon{
     position: absolute;
     top: 50%;
     right: 5px;
     transform: translateY(-50%);
     width: 20px;
     height: 20px;
 }
 .navbar-right{
     float: right!important;
     margin-right: 50px;
    
 }
 .shopping{
     width:100px;
     height:30px;
     border-radius: 15px;
     border:1px solid #000;
     text-align: center;
     margin-top: 20px;
 }
 
 /*中间部分菜单及广告位*/
 .adv{
     width:100vm;
     height:380px;
     margin-top:100px;
     padding:0;
 }
 .box2{
     width:1100px;
     height:350px;
     margin-left:150px;
     margin-top:100px;
     
     padding:0;
     
     border-radius:10px;
     background-color: rgb(31, 32, 32);
 }
     
 
 /*中间部分的左边*/

 .advertising-menu{
     position: relative;
     width:220px;
     height:320px;
     float:left;
     
     margin-top:10px;
     margin-left: 10px;
     padding-left: 10x;
 }
 .box2x1{
     width:200px;
     height:310px;
     margin:0px;
     float:left;
     
     padding:0;
     margin-left: 5px;
     margin-top: 5px;
     
 }   
 .box2x1x0{
     float:left;

 }
 .box2x1x1{
     float:right;
     background-color: rgb(100,100,100);

 }
.box2x1x1:after{
    position:absolute;
    width:0px;
    height:0px;
    margin-top: 5px;
    content:" ";
    border-right: 8px solid transparent;
    border-top:8px solid transparent;
    border-left:8px solid rgb(143, 139, 139);
    border-bottom:8px solid transparent;


}
.box2x1x2{
    float:left;
}
.box2x1x3{
    
    float:right;
    position:relative;

}
.box2x1x3:after{
    position:absolute;
    width:0px;
    height:0px;
    content:" ";
    border-right: 8px solid transparent;
    border-top:8px solid transparent;
    border-left:8px solid rgb(143, 139, 139);
    border-bottom:8px solid transparent;

}
.box2x1x4{
    float:left;
}
.box2x1x5{
    
    float:right;
    position:relative;

}
.box2x1x5:after{
    position:absolute;
    width:0px;
    height:0px;
    content:" ";
    border-right: 8px solid transparent;
    border-top:8px solid transparent;
    border-left:8px solid rgb(143, 139, 139);
    border-bottom:8px solid transparent;

}
.box2x1x6{
    float:left;
}
.box2x1x7{
    
    float:right;
    position:relative;

}
.box2x1x7:after{
    position:absolute;
    width:0px;
    height:0px;
    content:" ";
    border-right: 8px solid transparent;
    border-top:8px solid transparent;
    border-left:8px solid rgb(143, 139, 139);
    border-bottom:8px solid transparent;

}
.box2x1x8{
    float:left;
}
.box2x1x9{
    
    float:right;
    position:relative;

}
.box2x1x9:after{
    position:absolute;
    width:0px;
    height:0px;
    content:" ";
    border-right: 8px solid transparent;
    border-top:8px solid transparent;
    border-left:8px solid rgb(143, 139, 139);
    border-bottom:8px solid transparent;

}
.box2x1x10{
    float:left;
}
.box2x1x11{
    
    float:right;
    position:relative;

}
.box2x1x11:after{
    position:absolute;
    width:0px;
    height:0px;
    content:" ";
    border-right: 8px solid transparent;
    border-top: 8px solid transparent;
    border-left:8px solid rgb(143, 139, 139);
    border-bottom:8px solid transparent;

}
.box2x1x12{
    float:left;
}
.box2x1x13{
    
    float:right;
    position:relative;

}
.box2x1x13:after{
    position:absolute;
    width:0px;
    height:0px;
    content:" ";
    border-right: 8px solid transparent;
    border-top:8px solid transparent;
    border-left:8px solid rgb(143, 139, 139);
    border-bottom:8px solid transparent;

}
.horizontal-menu{
    width:200px;
    height:40px;
    display:block;
    transition:0.5s;
    z-index:9999;
    cursor: pointer;

}
.horizontal-menu:hover{
    background-color: #b4b3b3;
    

}
.horizontal-menu:hover>span{
    color:#fff;
}
.horizontal-lower-menu{
    display:none;
    position: absolute;
    top:0;
    width:700px;
    height:350px;
    background-color: aliceblue;
    z-index:-1;
    transition:0.5s;
    
    float:initial;
    
    
}
.horizontal-menu:hover .horizontal-lower-menu{
    position: absolute;
    left:220px;
    top:-10px;
    display:block;
    z-index: 99;

}
.horizon:hover .horizontal2{
    left:210px;
    top:-17px;
    display:block;
    

}
.lower-menus{/*有两个主题的分类*/
    width:690px;
    height:200px;
    border:1px solid red;
}
.lower-menu-topic{
    width:200px;
    height:50px;
    
    color:#000;
    margin-left: 20px;
}
/*两个主题的题目*/
.lower-menu-topic1{
    width:200px;
    height:40px;
    color:#000;
    margin-left: 20px;
    border:1px solid red;
    padding-bottom: 5px;
}
.lower-menu-topic2{
    width:200px;
    height:40px;
    color:#000;
    margin-left: 20px;
    border:1px solid red;
}
/*一个主题时的选项*/
.lower-menu-option{
    width:690px;
    height:150px;
   
}
/*两个主题时的选项*/
.lower-menu-option1{
    width:690px;
    height:50px;
    border:1px solid red;
}
.menu-item{
    float:left;
    list-style: none;
    height:145px;
}
.menu-item li{
    float:left;
    padding: 0px 7px;
    font-size:13px;
    color:#000;
    margin-left: 13px;
}
.lower-menu-img{
    width:680px;
    height:140px;
   

}
.lower-menu-classify{
    float:left;
    width:320px;
    height:70px;
    padding:0px;
   
    margin-left: 10px;
}
.lower-menu-pictrue{
    float:left;
    width:80px;
    height:60px;
  
}
.lower-menu-pictrue img{
    width:70px;
    height:50px;
    border-radius: 4px;
}
.lower-menu-text{
    float:left;
    width:230px;
    height:70px;
    
    padding:0;
    margin:0;
}
.lower-text{
    width:230px;
    height:30px;
    padding:0;
    margin:0;
    color:#000;
    font-size:14px;
    font-weight:900;
}
.lower-introduce{
    width:230px;
    height:35px;
    padding:0;
    margin:0;
    color:#797979;
    font-size: 12px;
}

/*广告部分*/
.advertising{
    width:867px;
    height:350px;
    border:0;
    float:left;
    position:relative;
    padding:0;
    margin:0;
    
}


/*零基础就业部分*/
.zero-base{
    width:100vm;
    height:150px;
   
    margin-top: 10px;
}
.zero-base-menu{
    margin-top:10px;
    margin-left:70px;
    width:500px;
}
.zero-base-classify{
    width:1200px;
    height:200px;
    margin-left: 70px;
    
}
.box3{
    float:left;
    width:220px;
    height:80px;
    border-radius: 7px;
    background-color: rgb(229, 232, 233);
    margin-left:10px;
}
/*
.box3x0{
    
    width:220px;
    height:80px;
    border-radius: 8px;
    background-color:  ;
    float:left;

}
.box3x1{
    margin-left: 70px;
    width:230px;
    height:80px;
    border-radius: 10px;
    background-color:  rgb(229, 232, 233);
    display:inline-block;

}
.box3x2{
    margin-left:15px;
    width:230px;
    height:80px;
    border-radius: 10px;
    background-color: rgb(229, 232, 233);
    display:inline-block;
}
.box3x3{
    margin-left:15px;
    width:230px;
    height:80px;
    border-radius: 10px;
    background-color:  rgb(229, 232, 233);
    display:inline-block;
}
.box3x4{
    margin-left:15px;
    width:230px;
    height:80px;
    border-radius: 10px;
    background-color:  rgb(229, 232, 233);
    display:inline-block;


}
*/
.image{
    float:left;
    width:60px;
    height:60px;
    
   
    margin-top: 7px;
    margin-left: 7px;
}
.text{
    float:left;
    width:140px;
    height:80px;
    
    
   
}
/*职场提升部分*/
.box4xx{
    margin-top:30px;
    margin-left:70px;
    width:500px;
    
}
.box4x0{
    width:270px;
    height:100px;
    margin-left:70px;
    border-radius: 10px;
    display:inline-block;



}
.box4x1{
    width:270px;
    height:100px;
    border-radius: 10px;
    display:inline-block;
    margin-left:20px;
}
.box4x2{
    width:270px;
    height:100px;
    border-radius: 10px;
    display:inline-block;
    margin-left:20px;
}
.box4x3{
    width:270px;
    height:100px;
    border-radius: 10px;
    display:inline-block;
    margin-left:20px;
}
/*新上好课部分*/
.new-course{
    width:100vm;
    height:700px;
   
    padding:0;
    margin:0;
}
.new-course-menu{
    width:400px;
    height:100px;
    
   
    
}
.box5x0{
    margin-left:70px;
    width:100px;
    
}
.new-course-classify{
    width:1250px;
    height:570px;
    margin-left: 50px;
   
}

.course{
    width:275px;
    height:280px;
    float:left;
    margin-left: 20px;
    
}
.new-course-image{
    position:relative;
    width:270px;
    height:150px;
    
    padding:0;
    margin:0;
}

.label{
    position:absolute;
    width:270px;
    height:20px;
    z-index:2;
    left:5px;;
    bottom:5px;
    border-radius: 6px;
}
.course-introduce{
    width:270px;
    height:60px;
    margin:0;
    padding:0;
    
}
.price-and-grade{
    width:270px;
    height:50px;
   
}
.new-course-grade{
    width:270px;
    height:20px;
    font-size: 12px;
    color:gray;
}
.new-course-price{
    width:270px;
    height:20px;
    font-size: 14px;
    font-weight: 900;
    color:red;
}
.course a{
    color:#000;
}
/*
.box5x1{
    width:270px;
    height:300px;
    margin-left:70px;
    float:left;
   
}
.box5x2{
    width:270px;
    height:300px;
    margin-left:20px;
    float:left;
    
    
}

.box5x3{
    float:left;
    width:270px;
    height:300px;
    margin-left:20px;
   
}
.box5x4{
    float:left;
    width:270px;
    height:300px;
    margin-left:20px;
   
}
.box5x5{
    float:left;
    width:270px;
    height:300px;
    margin-left:70px;
    
   
}
.box5x6{
    float:left;
    width:270px;
    height:300px;
    margin-left:20px;
   
    
}
.box5x7{
    float:left;
    width:270px;
    height:300px;
    margin-left:20px;
    

}
.box5x8{
    width:270px;
    height:300px;
    margin-left:20px;
    float:left;

}

/*学习路线*/
.learn{
    width:100vm;
    height:800px;
    
}

.menu1{
    float:left;
    height:70px;
    width:150px;
    margin-left: 70px;
    
    
}
.menu{
    float:left;
    width:1000px;
    height:50px;
    margin-top: 15px;
    
}
.menu>ul{
    list-style-type:none;
	margin:0;
	padding:0;
	padding-top:6px;
	padding-bottom:6px;
}
.menu li{
    float:left;
    
    text-align:center;
    margin-left:5px;
}

.learn-road{
    float:left;

    
    /*height:800px;*/

    margin-top:100px;
    margin-left:70px;
}
.box{
    float:left;
    width:550px;
    height:220px;
    

}
.road-image{
    width:170px;
    height:170px;
    float:left;
}
.road-text{
    float:left;
    width:330px;
    height:200px;
    
}
.road-introduce{
    width:300px;
    height:100px;

}
.road-collect{
    width:200px;
    height:50px;
    font-size:12px;
    color:gray;
}

/*热门课程*/
.hot-whole{
    height:900px;
   
   margin-top: 10px;

}

.hot-menu-container{

    
    width:1000px;
    width:500px;

    height:100px;
    margin-top: 20px;
    margin-left: 70px;
}

.hot-text{
    float:left;
    width:200px;
    height:80px;
    
    
}
.hot-img{
    float:left;
    width:50px;
    height:70px;
    margin-left:5px;
    
}
.hot-img i{
    display:block;
    width:60px;
    text-align: center;
    height:60px;
    line-height: 75px;
    
    color:#b9b9b9;
    font-size: 20px;
}
.hot-text1{
    float:left;
    width:100px;
    height:70px;
    
    
}
.hot-menu{
    float:left;
    width:200px;

    height:50px;
    
   
    height:80px;
    
    padding-top:20px;

    height:80px;
    
    padding-top:20px;

}
.hot-menu>ul{
    list-style-type:none;
	margin:0;
	padding:0;
	padding-top:6px;
	padding-bottom:6px;
}
.hot-menu li{
    float:left;
    
    text-align:center;
    margin-left:20px;
}
.practice-course{
    width:100vm;
    height:750px;
    margin-top: 10px;
    margin-left: 50px;
   
}
/*
.classify1 .classify5{
    float:left;
    width:300px;
    height:300px;
    margin-left: 70px;
    margin-top: 10px;
    border:solid;
}
*/
.practice{
    float:left;
    width:280px;
    height:300px;
    margin-left: 20px;
    margin-top: 10px;
    
}
.practice-picture{
    position:relative;
    width:280px;
    height:155px;
    padding:0;
    border:0;
    
}
.practice-label{
    position:absolute;
    width:270px;
    height:20px;
    z-index:2;
    left:10px;;
    bottom:10px;
    border-radius: 6px;
}
.practice-text{
    width:250px;
    height:65px;
    
    
}
.practice a{
    color:#000;
}
/*
.price-and-grade{
    width:270px;
    height:50px;
   
}
.new-course-grade{
    width:270px;
    height:20px;
    font-size: 12px;
    color:gray;
}
.new-course-price{
    width:270px;
    height:20px;
    font-size: 14px;
    font-weight: 900;
    color:red;
}
.course a{
    color:#000;
}
/*慕课课程*/
.mooc-column{
    width:100vm;
    height:600px;
   

}
.column-menu{
    width:200px;
    height:60px;
    margin-left: 70px;
   
}
.column-container{
    width:1250px;
    height:600px;
    margin-left: 50px;
   

}
.column{
    float:left;
    width:380px;
    height:180px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 8px;
    
}
/*盒子鼠标凸起加阴影*/
.column:hover{
    /* margin-top: 15px; */
    transform: translateY(-15px);
    box-shadow: 0 0 10px 2px #918f8f;
    transition:all 0.5s;
}
.column-image{
    float:left;
    width:110px;
    height:170px;
    margin-left: 10px;
    padding-left:10px;
    
}
.column-text{
    float:left;
    width:220px;
    height:170px;
    margin-left: 5px;
    

}
.column-image>image{
    width:100px;
    height:150px;
    margin-top: 20px;
   
    padding:0px;
    border:0px;
   

}
.try{
    width:35px;
    height:20px;
   
}
.column-text a{
    color:#000;
}
.text1-column{
    width:215px;
    height:45px;
    padding:0px;
   
    
    

}
.text2-column{
    width:215px;
    height:30px;
    border-bottom: 1px solid #A6A6A6;
    
}
.text3-column{
    width:215px;
    height:30px;
    margin-top: 5px;
   
   
}
.text4-column{
    width:215px;
    height:40px;
   
}
.foot{
    width:100vm;
    height:150px;
    background-color: #f7f7f7ec;
    padding:0px;
    
    border-top: 1px solid #eeeeee;
    
}
.foot-left{
    float:left;
    width:800px;
    height:100px;
    margin-top: 20px;
    margin-left: 70px;
    
}

.foot-right{
    float:right;
    width:300px;
    height:100px;
    margin-top: 20px;
    margin-right: 40px;
   
}
.weixin{
    float:left;
    width:120px;
    height:120px;
    margin-left:40px;
    margin-top: 20px;
   
}
.weixin i{
    display:block;
    width:60px;
    text-align: center;
    height:60px;
    line-height: 60px;
    background: #f7f7f7ec;
    color:#b9b9b9;
    font-size: 20px;
}
.weibo i{
    display:block;
    width:60px;
    text-align: center;
    height:60px;
    line-height: 60px;
    background:  #f7f7f7ec;
    color:#b9b9b9;
    font-size: 20px;
}
.weibo{
    float:left;
    width:70px;
    height:70px;
    margin-left:30px;
    margin-top: 20px;
    
}
.aside-menu{
    position:fixed;
    top:40%;
    z-index:99999;
    right:0;

}
.aside-icon{
    cursor:pointer;
    position:relative;
}
.aside-icon i{
    display:block;
    width:60px;
    text-align: center;
    height:60px;
    line-height: 60px;
    background: #f1f1f1;
    color:#b9b9b9;
    font-size: 20px;
    transition: 0.6s;

}
.aside-icon:hover i{
    color:#3498db;
}
.icon-text{
    position:absolute;
    height:60px;
    width:60px;
    background: #eeeded;
    top:0;
    z-index:-1;
<<<<<<< HEAD
    right:-70px;
    color:#fff;
    line-height: 60px;
    text-align: center;
    transition: 0.6s;
=======
    color:rgb(2, 2, 2);
    line-height: 60px;
    text-align: center;
    transition: 0.6s;
    font-size:12px;
>>>>>>> 4af830557a169ca3aa4a6fdfe656b655621468d2

}
.aside-icon:hover .icon-text{
    right:60px;
}
